.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}
.outer{
  padding: 35px 0;
}

.mat-field:focus{
  color: #019992;
}

.sign-in-button{
  width: 100%;
  margin-top: 30px;
  background-color: #019992;
  color: aliceblue;
}

.reg-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
